# Data Structure

1.  What are data structures, and why are they important?
    - Data structures are organized ways of storing and managing data in memory (like lists, stacks, queues, trees, graphs, etc.).
They’re important because they help programs run faster and use less memory, and they make it easier to implement complex operations (searching, sorting, path-finding, etc.)
2.  Explain the difference between mutable and immutable data types with examples.
    - Mutable: can be changed after creation.

Examples: list, dict, set.

 - Immutable: cannot be changed; any “change” creates a new object.

Examples: int, float, str, tuple.

3. What are the main differences between lists and tuples in Python?
    - List: [], mutable, can add/remove/change elements, usually used for data that may change.

- Tuple: (), immutable, usually used for fixed collections (like coordinates, constant settings).

- Lists are slightly slower than tuples for access because of mutability overhead.
4. Describe how dictionaries store data.
    - Dictionaries store data as key–value pairs. Internally, Python uses a hash table, where each key is hashed to find a position in memory that stores the corresponding value.
5. Why might you use a set instead of a list in Python?
    - To store unique elements (no duplicates).

- To check membership (x in s) faster on average (O(1) vs O(n) for list).

- For set operations: union, intersection, difference
6. What is a string in Python, and how is it different from a list?
    - A string is an immutable sequence of characters.
Differences from list:

- String elements (characters) cannot be changed; list elements can.

- Strings are usually used for text; lists can hold any data types.
7. How do tuples ensure data integrity in Python?
    - Tuples are immutable, so once created, their contents cannot be modified. This prevents accidental changes, helping maintain data integrity when you need data to remain constant.
8.  What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a structure that maps keys → positions using a hash function.
Python dictionaries are implemented using hash tables: each key’s hash determines where its value is stored
9. Can lists contain different data types in Python?
    - Yes. A list can mix types, like:
[1, "hello", 3.5, True].
10. Explain why strings are immutable in Python.
    - Make them hashable (usable as dictionary keys).

- Improve performance and memory sharing (same string can be reused).

- Avoid bugs from accidental modification of shared strings.
11. What advantages do dictionaries offer over lists for certain tasks?
    - Fast lookup by key, not by index.

- Keys can be descriptive (e.g., "name", "age"), making code clearer.

- Ideal when you want to associate labels with values
12.  Describe a scenario where using a tuple would be preferable over a list.
    - Returning multiple values from a function (e.g., (x, y) coordinates).

- Fixed configuration values that should not change.
Example: storing days of the week:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates. If you add an element that already exists, the set remains the same
14.  How does the “in” keyword work differently for lists and dictionaries?
  - For a list: x in my_list checks if x is an element in the list.

- For a dictionary: k in my_dict checks if k is a key in the dictionary (not a value)
15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot. Tuples are immutable; once created, their elements cannot be added, removed, or changed
16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where values themselves are dictionaries.
- Example use case: storing student info by roll number:

students = {
    101: {"name": "Rahul", "age": 20},
    102: {"name": "Aisha", "age": 21}
}

17.  Describe the time complexity of accessing elements in a dictionary.
    - Average case: O(1) (constant time) using its hash table.
Worst case can be O(n), but that’s rare.
18. In what situations are lists preferred over dictionaries?
    - When order of elements is important and you mainly access by position.

- When keys are just sequential indices (0,1,2,…).

- When you mostly iterate over all elements
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Conceptually, dictionaries are mapping types, not sequence types. You access items by key, not by position.
Modern Python preserves insertion order, but you should still logically treat dicts as key-value mappings and not rely on numeric indices
20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List: retrieve by index (e.g., my_list[0]).

- Dictionary: retrieve by key (e.g., my_dict["name"]); order/position doesn’t matter

In [1]:
#Q1 Write a code to create a string with your name and print it.

name = "Md Shahbaz"
print(name)

Md Shahbaz

In [2]:
#Q2. Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#Q3.  Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#Q4. Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [5]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [6]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
#Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")

print("kiwi" in fruits)

False

In [16]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [17]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
#Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
#Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "John",
    "age": 25,
    "city": "Delhi"
}

print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

In [22]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [24]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

print("city" in person)

True

In [26]:
#Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4]

my_tuple = (5, 6, 7, 8)

my_dict = {"name": "Shahbaz", "age": 21, "city": "Delhi"}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{'name': 'Shahbaz', 'age': 21, 'city': 'Delhi'}

In [27]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[17, 34, 62, 92, 97]

In [28]:
#Q28.  Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [29]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#Q30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "mango", "banana"]

string_set = set(string_list)
print(string_set)

{'mango', 'apple', 'banana'}